#adressebilde img {
    width: 100%;
    position: relative;
}

#container {
    margin: auto;
    width: 320px;
    height: 568px;
    font-family: 'Open Sans', sans-serif;
}

#container p {
    font-size: 14px;
    }

button {
    background-color: #A42751;
    color: white;
    height: 30px;
}

button:hover {
    width: 110px;
    height: 35px;
}

#pageimg img {
    width: 50%;
    align-self: auto;
}

