
.body{font-family: Graphik-Medium,"PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;} 

#container{
    width: 320px;
    height: 568px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
    
    
}

#logo{
    width: 50%;
    align-self: auto;
}

#logginntxtH1{
    margin:0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
    width: 75%;
    text-align: center;
 }
#logginntxtH2{
    margin:0;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
    padding-top:10% ;
    text-align: center;
}

.loginform,.newuserform {
text-align: center;
padding-top: 10%;
}

.loginformfield,.newuserfield {
    text-align: center;
    align-self: auto;
    margin: 3%;
    width: 75%;
    height: 30px;
    border-color: red;
    border-radius: 5%;
    font-size: 100%;
    scale:1;
}

#subloginn,#newuserbtn{
    background-color: #A42751;
    color:#fff ;
    font-size: 100%;
}

#register,#abort{
        background-color: #A42751;
        color:#fff ;
        font-size: 100%;
}

