.body{font-family: Graphik-Medium,"PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;} 

#container{
    width: 320px;
    height: 568px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
    text-align: center;

    
    
}

#logo{
    padding-top:5%;
    width: 50%;
    position: absolute;
    display: block;
    
}
#iddiv{
    width: 25%;
    display: block;
    position: fixed;
    right:2px;
    text-align: center;
    
   
}

#userdisp{
 
    


}
#idimg{
    margin: 0;
    padding-bottom: 2px;
    
    }

#logginntxtH1{
    
    padding-top:40% ;
    margin:0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
    width: 75%;
    text-align: center;
 }
#logginntxtH2{
    margin:0;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
    padding-top:10% ;
    text-align: center;
}


.linkbutton{
    text-align: center;
    align-self: auto;
    margin: 3%;
    width: 75%;
    height: 30px;
    border-color: red;
    border-radius: 5%;
    font-size: 100%;
    scale:1;
    background-color: #A42751;
    color:#fff ;
   
    
}
