body{
    margin: 0px;
    padding: 0px;
}
.mainContainer{
    margin: auto;
    width: 60%;
    max-width: 100%;
    max-height: 100%;
    align-self: auto;
    
    /*transform: scale(1.5); 
    transform-origin: 10% 0%;*/
}
.routerContainer{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    text-align: center;
    padding: 10px;
    background-color: #c92440;
    margin-top: 15%; 
    text-decoration: none;
    filter: drop-shadow(2px 2px 2px);
}
.elLink{
    text-decoration: none;
    color: #ffffff; 
}
.hTag{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    text-align: center;
    margin-top: 10%;
}
.Images{
    position: relative;
    bottom: 0px;
    left: 25px;
    width: 10%;
    height: 10%;
}
#img1{
    left: 54px;
}
#img2{
    left: 62px;
}
#img3{
    left: 31px;
}
.mainLogo{
    width: 100%;
    margin: 5%;
}
.testPopup{
    background-color: #2a3439;
    border-radius: 10px;
    text-align: center;
}
p{
    color: white; 
}
